  /*
    Flaticon icon font: Flaticon
    Creation date: 08/09/2018 00:19
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-faculty-shield:before { content: "\f100"; }
.flaticon-book:before { content: "\f101"; }
.flaticon-book-1:before { content: "\f102"; }
.flaticon-book-2:before { content: "\f103"; }
.flaticon-diploma:before { content: "\f104"; }
.flaticon-scholarship:before { content: "\f105"; }
.flaticon-trending:before { content: "\f106"; }
.flaticon-online-course:before { content: "\f107"; }
.flaticon-books:before { content: "\f108"; }
.flaticon-reading:before { content: "\f109"; }
.flaticon-presentation:before { content: "\f10a"; }
.flaticon-professor:before { content: "\f10b"; }
.flaticon-training:before { content: "\f10c"; }
.flaticon-learning:before { content: "\f10d"; }
.flaticon-education:before { content: "\f10e"; }
.flaticon-print:before { content: "\f10f"; }
.flaticon-software:before { content: "\f110"; }
.flaticon-feature:before { content: "\f111"; }
.flaticon-interaction:before { content: "\f112"; }
.flaticon-conveyor:before { content: "\f113"; }
.flaticon-firewall:before { content: "\f114"; }
.flaticon-potential:before { content: "\f115"; }
.flaticon-potential-1:before { content: "\f116"; }
.flaticon-code:before { content: "\f117"; }
.flaticon-web-design:before { content: "\f118"; }
.flaticon-html:before { content: "\f119"; }
.flaticon-artificial-intelligence:before { content: "\f11a"; }
.flaticon-gear:before { content: "\f11b"; }
.flaticon-medal:before { content: "\f11c"; }
.flaticon-contract:before { content: "\f11d"; }
.flaticon-teacher-lecture-in-front-an-auditory:before { content: "\f11e"; }
.flaticon-manager:before { content: "\f11f"; }
.flaticon-translate:before { content: "\f120"; }
.flaticon-translator:before { content: "\f121"; }
.flaticon-online:before { content: "\f122"; }
.flaticon-university-campus:before { content: "\f123"; }